@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100vw;
    background-color: #F6F6F6;
    font-family: 'Poppins', sans-serif;
}

a {
    color: #1A1A1A;
    text-decoration: none;
}

header {
    width: 100vw;
    height: 50px;
    background-color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.menu-icon {
    position: absolute;
    left: 20px;
}

.main {
    padding: 15px;
}

.progress-bar {
    width: 100%;
    height: 25px;
    border: .5px solid;
    border-radius: 15px;
    margin: 20px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.progress {
    width: 99%;
    height: 80%;
    background-color: #59E6FF;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2px;
}

.progress-percent {
    position: absolute;
    width: 99%;
    display: block;
    text-align: center;
}

.question-img {
    width: 100%;
    height: 240px;
    position: relative;
}

.question-img img {
    max-width: 100%;
    height: 240px;
    padding-top: 20px;
    object-fit: cover;
    border-radius: 5px;
}



.next-button {
    position: absolute;
    height: 50px;
    width: 120px;
    bottom: 30px;
    right: 30px;
    padding: 5px;
    font-size: 1.1rem;
    border: none;
    background-color: #1A1A1A;
    color: #fff;
}

span {
    font-size: 13px;
    color: #A2A2A2;
    font-style: italic;
}

.question {
    margin: 20px 0;
}

.options-div {
    display: flex;

    flex-wrap: wrap;
    gap: 10px;
    margin: 20px 0;
}

.options-div button {
    width: 160px;
    height: 100px;
    border: none;
    background-color: #EBEBEB;
    font-size: 1rem;
}



.option-info {
    border: 2px solid #EBEBEB;
    padding: 10px;
    border-radius: 5px;
    margin: 20px 0;
}

.optionInfoLast{
    border-color: green;
    background-color: #CFF5BF;
}

.info-paragraph {
    margin: 20px 0 20px 0;
}

.start-div button {
    margin: 20px 0;
    width: 100%;
    height: 40px;
    border: none;
    background-color: #FFBE4B;
    color: #FFF;
    font-size: 1.3rem;
    font-weight: 500;
}

.about-factable {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.about-factable h3 {
    margin: 20px 0;
}

.selected {
    background-color: #CFF5BF !important;
}

.hide {
    display: none;
}



/*  code addition */
.slide-bar {
    z-index: 99;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all ease-in 0.1s;

}

.hide-slide {
    width: 0;
    margin-right: 200%;
    overflow: hidden;
    transition: all ease-in .1s;
}


.lock-scroll{
    overflow: hidden;
}
.cross {
    position: absolute;
    color: #fff;
    left: 10px;
    top: 10px;
    font-size: 25px;
}

.sb-header {
    margin-bottom: 250px;
}

.sb-logo {
    color: #FFAC18;
    padding: 10px 0 25px;
    margin-top: 20px;
}

.sb-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    row-gap: 20px;
}

.sb-menu a {
    text-decoration: none;
    color: #fff;
}

.sb-footer {
    border-top: .1px solid #757272;
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-top: -20px;
}

.sb-sl-icn a i {
    background-color: #FFAC18;
    margin: 10px 5px 20px;
    padding: 10px;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;

}

.sb-list {
    font-style: italic;
}

footer {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #FFAC18;
}

.social-icons a i {
    padding: 0px 5px;
    color: white;

}

.list a {
    font-size: .6rem;
    padding: 3px;
    color: white;
}

.icons a img {
    box-sizing: content-box;
    width: 20px;
    padding: 0 10px;
    filter: invert(50%) saturate(0%) brightness(1000%);
}


/* 



*/